---
import IconConnection from '../../assets/icons/IconConnection.astro'
---

<!-- Icon Block -->
<div class="h-36 sm:h-56 flex flex-col justify-center border border-gray-200 rounded-xl text-center p-4 md:p-5 dark:border-neutral-700">
    <!-- Icon -->
    <IconConnection />
    <!-- End Icon -->

    <div class="mt-3">
        <h3 class="mb-2 text-xl font-bold font-heading text-primaryText text-center">
            Strong empathy
        </h3>
    </div>
</div>