---
---
<div class="flex flex-col gap-2 sm:flex-row mt-14 mb-24 sm:mb-40 justify-center">
    <button
        class="w-64 sm:w-52 h-12 rounded-xl font-bold text-primaryText border border-solid flex justify-center items-center cursor-pointer bg-primaryColor hover:bg-secondaryColor border-primaryColor transition"
        aria-label="Get started"
    >Get Started
    </button>
    <button
        class="w-64 sm:w-52 h-12 rounded-xl font-bold text-primaryText border border-solid flex justify-center items-center cursor-pointer bg-bgDark2 hover:bg-bgDark3 border-primaryColor transition"
        aria-label="Live demo"
    >Live demo
    </button>
</div>