---
import { Globe, Clock, MoreVertical } from 'lucide-react'
import { CARD } from '~/config/cardCostantsNew'
import * as api from '~/api/apiClient'
import TestApisV2 from '~/pages/dev/test-apisV2.astro'

const deleteSite = api.deleteEvent

interface Props {
    my_test: string,
    main: unknown
}

const {my_test, main} = Astro.props

console.log('received data', main)
console.log('my name', TestApisV2)

---
<div class="text-white">{my_test}</div>

