---
import { Globe, Clock, MoreVertical } from 'lucide-react'
import { CARD } from '~/config/cardCostantsNew'
import * as api from '~/api/apiClient'

const deleteSite = api.deleteEvent

const {my_name} = Astro.props

console.log('my name', my_name)

---
<h1 text-white>{my_name}</h1>

