---
import { twMerge } from 'tailwind-merge'
interface Props {
  sub?: string  
  classes?: {    
    subtitle?: string  
  }
}

const {
    sub = await Astro.slots.render("subtitle"),
    classes = {}

} = Astro.props

const {  
  subtitle: subtitleClass = "text-secondaryText text-sm lg:text-base xl:text-lg sm:text-base mt-10 px-12 sm:px-48",
  /*content: contentClass = "mb-10 text-secondaryText leading-loose",*/
} = classes

---

<div class="w-full max-w-4xl mx-auto mb-8 px-4">
    <div class="flex items-center justify-center space-x-4">
        <div class="relative flex-1 max-w-2xl">
            {
                sub && (
                  <h2 class={twMerge("mt-2", subtitleClass)} set:html={`:-) ${sub}`} />
                )
            }
        </div>
    </div>
</div>
      