---
import Button from '~/components/dev/Button.astro'

---
<div class="max-w-[85rem] px-4 py-10 mx-auto">
    <!-- Button Grid -->
    <div class="flex flex-col items-center gap-2 sm:flex-row mt-10 mb-10 justify-center">
        <Button
            text="Get Started"
            variant="getStarted"
            ariaLabel="Get started"
            url="/register"
        />
        <Button
            text="Download"
            variant="download"
            ariaLabel="Download"
            url="/openfav-ext.zip"

        />
    </div>
    <!-- End of Button Grid -->
</div>
