<section class="flex flex-col w-screen justify-center items-center bg-bgDark1 py-24">
    <div class="text-center max-w-[85rem] px-4 mx-auto">
      <p class="text-secondaryColor text-sm sm:text-base mb-6 font-bold">About Us</p>
      <h1 class="text-5xl sm:text-6xl lg:text-7xl font-bold tracking-wide text-primaryText px-8">Passion for Development</h1>
      <h2 class="text-secondaryText text-sm lg:text-base xl:text-lg mt-10 px-12 sm:px-48">
        With over twenty years of experience in the IT industry, my professional journey has led me from system administration to full-stack development, embracing the most innovative technologies. My path began with PHP and relational databases, evolving towards JavaScript, Node.js, and modern frameworks such as Vue.js, React, and Nuxt.js.
        <br><br>
        This evolution reflects my passion for continuous learning and my ability to adapt to new challenges. I have gained solid experience in managing complex systems, including those based on Linux, Oracle, and Java, working with various applications and relational databases.
        <br><br>
        My full-stack experience has allowed me to develop a comprehensive understanding of the software development lifecycle, from architecture design to creating intuitive user interfaces. Currently, my focus is on Python and artificial intelligence, fields that offer enormous potential for innovation.
        <br><br>
        I believe that AI can revolutionize how we develop and use software, and I am excited to explore its applications in different areas. My goal is to create efficient and intuitive tools that simplify the work of developers, allowing them to focus on creating high-quality software.
        <br><br>
        I am convinced that the combination of solid technical skills and a constant search for innovative solutions is the key to success in an ever-evolving technological landscape.
      </h2>
    </div>
  </section>
  