---
import { twMerge } from 'tailwind-merge'
import CallToAction from '~/components/main/CallToAction.astro'
import * as fonts from '~/config/costants'

const {    
    title = await Astro.slots.render("title"),
    subtitle = await Astro.slots.render("subtitle"),  
    tagline = await Astro.props.tagline("tagline"),
    //content = await Astro.props.tagline("content"),
    classes = {},
} = Astro.props

const {
    title: titleClass = fonts.H1_HERO,
    subtitle: subtitleClass = fonts.H2_SUBTITLE,
    content: contentClass = "mb-10 text-secondaryText leading-loose",
} = classes
---

<div class="text-center">
    {
        tagline && (
        <p class="text-secondaryColor text-sm sm:text-base mb-6 sm:mt-32 mt-16 font-bold">
            {tagline}
        </p>
        )
    }
    {
        title && (
        <h1
            class={twMerge('',
                titleClass
            )}
            set:html={title}
        />
        )
    }
    {
        subtitle && (
            <h2 class={twMerge("mt-0", subtitleClass)} set:html={subtitle} />
        )
    }
    <CallToAction />
</div>
