<!-- Hero -->
<div class="w-full">
  <label
    for="hs-search-article-1"
    class="block text-sm text-gray-700 font-medium dark:text-white"
  >
    <span class="sr-only">Search article</span>
  </label>
  <input
    type="email"
    name="hs-search-article-1"
    id="hs-search-article-1"
    class="py-2.5 px-4 block w-full border-transparent rounded-lg focus:border-blue-500 focus:ring-blue-500 dark:bg-neutral-900 dark:border-transparent dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
    placeholder="Search article"
  />
</div>
<!-- End Hero -->
