---
const { IconComponent, title, content } = Astro.props
import * as fonts from '~/config/costants'
---

<div class="h-36 sm:h-56 flex flex-col justify-center bg-bgDark3 text-center p-4 md:p-5">
    <!-- Icon -->
    <div class="flex justify-center items-center size-12 bg-gradient-to-br from-blue-600 to-violet-600 rounded-lg mx-auto">
        <IconComponent />
    </div>
    <!-- End Icon -->

    <div class="mt-3">
        <!-- <h3 class="mb-2 text-xl font-bold font-heading text-primaryText text-center">-->
        <div class={fonts.CARD_TITLE}>
            {title}
        </div>
    </div>
    <p class={fonts.CARD_TEXT}>{content}</p>
</div>

