---
import { twMerge } from 'tailwind-merge'
/*import myButton from "../base/test-buttons/Button.astro";*/

const {  
  user_name,
  title,
  subtitle,  
  tagline,
  classes = {},
} = Astro.props

const {
  container: containerClass = "w-screen flex justify-center items-center bg-bgDark1 mb-[28vw] md:mb-[18vw] lg:mb-[10vw] xl:mb-[13vw] 2xl:mb-60 hero-bg-gradient pb-24 sm:pb-32 md:pb-44 lg:pb-0"
} = classes
---

<section class={twMerge("flex flex-col items-center", containerClass)}>
    <slot name="MainHero"/>
    <slot name="CTA" />
    <slot name="MainHeader" />
</section>
