---
import { twMerge } from 'tailwind-merge'
import NewGrid from '~/components/dev/Testimonials.astro'


const _items=
[
      {
        title: 'Favourites',
        description:
          'Manage and organize your bookmarks following your field of interest; export your lists in the browsers.',
        icon: 'flat-color-icons:bookmark',
      },
      {
        title: 'Production',
        description:
          'Manage and organize your production and developement flow; generate personal blog or project portfolio.',
        icon: 'flat-color-icons:workflow',
      },
      {
        title: 'AI Assist',
        description:
          'Use AI to do tasks for categorize automatically useful resources.',
        icon: 'tabler:ai',        
      },
      
]


const {    
    tagline = await Astro.props.render("tagline"),
    title = await Astro.props.render("title"),
    subtitle = await Astro.slots.render("subtitle"), 
    items = _items,
    columns = 3,
    defaultIcon, 
    classes = {},
} = Astro.props

const {
    title: titleClass = 'block-big-title text-center mb-6 px-8 sm:px-24 md:px-48',
    subtitle: subtitleClass = "text-secondaryText text-sm lg:text-base xl:text-lg sm:text-base mt-10 px-12 sm:px-48",
} = classes
---



<div class="text-center">
    {
        tagline && (
        <p class="text-secondaryColor text-sm sm:text-base mb-6 sm:mt-32 mt-16 font-bold">
            {tagline}
        </p>
        )
    }
    {
        title && (
        <h1
            class={twMerge('',
                titleClass
            )}
            set:html={title}
        />
        )
    }
    {
        subtitle && (
            <h2 class={twMerge("mt-0", subtitleClass)} set:html={subtitle} />
        )
    }
    <NewGrid />
</div>
