---
//import ItemGrid from '~/components/dev/ItemGridDev.astro'
import { twMerge } from "tailwind-merge"
import { Icon } from 'astro-icon/components'
import MainHeaderCard from '~/components/dashboard/sub/MainHeaderCard.astro'
import { my_test_card, my_test_card1} from '~/api/doCards'
import {events, sites} from '~/api/getSitesV3'

console.log("Featured Events:", events)

//console.log(my_test_card, )

const { items = [], columns, defaultIcon = '', classes = {} } = Astro.props;

const {
  container: containerClass = '',
  panel: panelClass = '',
  title: titleClass = '',
  description: descriptionClass = '',
  icon: defaultIconClass = 'text-primary',
  action: actionClass = '',
} = classes;

const updatedItems = [  
  ...items,
  { type: 'my_test_card' },
  { type: 'my_test_card1' },
  { type: 'events' }
];
---

{
  updatedItems && (
    <div
      class={twMerge(
        `grid mx-auto gap-8 md:gap-y-12 ${
          columns === 4
            ? 'lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2'
            : columns === 3
            ? 'lg:grid-cols-3 sm:grid-cols-2'
            : columns === 2
            ? 'sm:grid-cols-2 '
            : ''
        }`,
        containerClass
      )}
    >
      {updatedItems.map((item) => (
        <div>
          {item.type === 'my_test_card' ? (
            <MainHeaderCard {...my_test_card} />
          ) : item.type === 'my_test_card1' ? (
            <MainHeaderCard {...my_test_card1} />
          ) : (
            <div
              class={twMerge(
                "flex flex-row max-w-md",
                panelClass,
                item.classes?.panel
              )}
            >
              <div class="flex justify-center">
                {(item.icon || defaultIcon) && (
                  <Icon
                    name={item.icon || defaultIcon}
                    class={twMerge(
                      "w-7 h-7 mr-2 rtl:mr-0 rtl:ml-2",
                      defaultIconClass,
                      item.classes?.icon
                    )}
                  />
                )}
              </div>
              <div class="mt-0.5">
                {item.title && (
                  <h3
                    class={twMerge(
                      "text-xl font-bold",
                      titleClass,
                      item.classes?.title
                    )}
                  >
                    {item.title}
                  </h3>
                )}
                {item.description && (
                  <p
                    class={twMerge(
                      `${item.title ? "mt-3" : ""} text-muted`,
                      descriptionClass,
                      item.classes?.description
                    )}
                    set:html={item.description}
                  />
                )}
              </div>
            </div>
          )}
        </div>
      ))}
    </div>
  )
}
