---
import '@fontsource/inter'
import '@fontsource/inter/500.css'
import '@fontsource/inter/600.css'
import '@fontsource/inter/700.css'
import '@fontsource/inter/800.css'
import '@fontsource/inter/900.css'

import { I18N } from 'openfav:config'
import NavBar from '~/components/main/Navbar.astro'
import Metadata from '~/components/base/Metadata.astro'
import type { MetaData as MetaDataType } from '~/types'

import CommonMeta from '~/components/base/CommonMeta.astro';

export interface Props {
  title: string;
  metadata?: MetaDataType;
}

const { title } = Astro.props;

const { metadata = {} } = Astro.props;
const { language, textDirection } = I18N;
---

<!doctype html>
<html lang={language} dir={textDirection} "bg-bgDark2">
  <head>
    <CommonMeta />
    <Metadata {...metadata} />
    <title>{title}</title>
  </head>
  <body class="bg-bgDark2">
    <main aria-label="Main content">
      <NavBar />
      <slot />
    </main>
    <style is:global>
      html {
        font-family: Inter;
        background-color: #26272b;
        overflow-x: hidden;
        scroll-behavior: smooth !important;
      }
    </style>
  </body>
</html>
