---
import * as f from '~/api/apiClient'

import {getSites, tags} from '~/scripts/getSites'

console.log('firts log', f.all_categories)

console.log('sites refactored', getSites)

console.log('debug tags', tags)

//console.log('debug delete', f.deleteEvent(66))


---

<h1 class="text-center items-center">API Test Page</h1>