---
import Layout from '~/layouts/Layout.astro'
import SectionContainer from '~/components/dev/MySectionComponent.astro'
import CallToAction from '~/components/main/CallToAction.astro'
import MainHeader from '~/components/dev/MainHeader.astro'
import MainHero from '~/components/dev/MainHero.astro'
import MainSearch from '~/components/dev/HeroSearch.astro'

let username = 'Doublefacessss'

---

<Layout title="Test Component">
  <SectionContainer
    id="section-container"
  >    
  <div slot="MainSearch">
    <MainSearch />
  </div>
    <MainHero
      id="main-hero"
      slot="MainHero"
      title=""
      subititle="subtitle"
      user_name={username}
      tagline={`${username}'s Dashboard`}
    />
    <div slot="MainHeader">
      <MainHeader 
        id="main-header"
      />
    </div>
    <div slot="CTA">
      <CallToAction 
        id="call-to-action"        
      />
    </div>    
  </SectionContainer>
</Layout>
