---
import Layout from '~/layouts/Layout.astro'
import SectionContainer from '~/components/dev/MySectionComponent.astro'
import CallToAction from '~/components/main/CallToAction.astro'
import MainHeader from '~/components/dev/MainHeader.astro'
import MainHero from '~/components/dev/MainHero.astro'

let username = 'Doublefacessss'

---

<Layout title="Test Component">
  <SectionContainer
    id="section-container"
  >    
    <MainHero
      id="main-hero"
      slot="MainHero"
      title="hello"
      subititle="subtitle"
      user_name={username}
      tagline={`${username}'s Dashboard`}
    />
    <div slot="CTA">
      <CallToAction 
        id="call-to-action"
      />
    </div>
    <div slot="MainHeader">
      <MainHeader 
        id="main-header"
      />
    </div>
  </SectionContainer>
</Layout>
