---
import Layout from '~/layouts/Layout.astro'
import SectionContainer from '~/components/dev/MySectionComponent.astro'
import CallToAction from '~/components/main/CallToAction.astro'
import MainHeader from '~/components/dev/MainHeader.astro'
import MainHero from '~/components/dev/MainHero.astro'

let username = 'Doublefacessss'

const metricsData = [{
    title: "Total Sales",
    value: "$9850.90",
    upward: true,
    percent: "1.8%",
  },
  {
    title: "Net Revenue",
    value: "$7520.50",
    upward: false,
    percent: "2.5%",
  },
  {
    title: "Customers",
    value: "1375",
    upward: true,
    percent: "5.2%",
  },
  {
    title: "MRR",
    value: "$250.00",
    upward: true,
    percent: "2.2%",
  },
]
---

<Layout title="Test Component">
  <SectionContainer>    
    <MainHero
      slot="MainHero"
      title="hello"
      subititle="subtitle"
      user_name={username}
      tagline={`${username}'s Dashboard`}
    />
    <div slot="CTA">
      <CallToAction />
    </div>
    <div slot="MainHeader">
      <MainHeader />
    </div>
  </SectionContainer>
</Layout>
