---
import Layout from '~/layouts/Layout.astro'

import Section from '~/components/main/SectionContainer.astro'
import IsComponent from '~/components/main/IsComponent.astro'
import Contacts from '~/components/dev/Feedback.astro'


/*
import { FeaturedItems1, FeaturedItems2, StepItems } from '~/config/features'
*/

import '~/assets/css/Theme.css'

---
<Layout title="Feedback">
    <Section>        
        <IsComponent
            slot="features-1"
            tagline="Contact us"
            title="Leave a comment"
            subtitle="We could appreciate your feedback about our work"
            id="main-features"
        >
            <Contacts />
            <Fragment slot="bg">
                <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
            </Fragment>
        </IsComponent>
    </Section>    
</Layout>