---
import Layout from '~/layouts/Layout.astro'
import SiteCard from '~/components/dev/SiteCard.astro'
import {getSites} from '~/scripts/getSites'

---

<Layout title="Site Cards & Activity">
  <div class="min-h-screen bg-gray-50">
    <div class="max-w-7xl mx-auto px-4 py-8">
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
        <!-- Site Cards -->
        <div class="lg:col-span-2">
          <div class="grid gap-6">
            {
              getSites.map((getSites) => <SiteCard site={getSites} />)
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>